{% extends 'projectDLD.html.twig' %}

{% block navbar%}
    <ul class="nav nav-sidebar">
        <li><a href="/project">Projects Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="/project/projectWebsite">Personal Website</a></li>
        <li><a href="/project/project2015Internship">2015 Summer Internship</a></li>
        <li class="active"><a href="/project/projectLinux">Linux Operating System</a></li>
        <li><a href="/project/projectBookstore">Online Book Store</a></li>
        <li><a>Digital Logic design</a></li>
        <li><a>Competitive Programming</a></li>
        <li><a>Data Structure & Algorithm</a></li>
      </ul>
{% endblock%}

{% block project%}
  <h1 class="page-header">OS coding</h1>
  <div class="mainpage">
  	<p>Linux Programming This repository contains all the assignments for my operating system class last semester. This course takes my understanding of computer to a new level. I have a deeper understanding of unix operating system such as system call, kernal memory, file system, virtual memory, kernal memory, kernal scheduler and so on. There are nine C programming assignments which interacts with linux system. Each of them represents different topics. </p>
    
    <p>There nine main parts:</p>
    <ul>
      <li>Unix File System</li>
      <li>Unix Process</li>
      <li>Kernel Signals</li>
      <li>Virtual Memory</li>
      <li>Interprocess Communication(IPC)</li>
      <li>Synchronization among Concurrent tasks</li>
      <li>Kernel Task Switch</li>
      <li>Kernel Schedule</li>
      <li>Kernel Memory Management System</li>
    <ul>
    <p>You can check out these C programming assignments for these topics on my github repository. <span class="glyphicon glyphicon-inbox"></span>"Github"</p>
    
  </div>
{% endblock%}