{% extends 'projectDLD.html.twig' %}

{% block navbar%}
    <ul class="nav nav-sidebar">
        <li><a href="/project">Projects Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="/project/projectWebsite">Personal Website</a></li>
        <li><a href="/project/project2015Internship">2015 Summer Internship</a></li>
        <li class="active"><a>Linux Operating System</a></li>
        <li><a href="/project/projectBookstore">Online Book Store</a></li>
        <li><a href="/project/projectDsa">Data Structure & Algorithm</a></li>
        <li><a>Digital Logic design</a></li>
        <li><a>Competitive Programming</a></li> 
    </ul>
{% endblock%}

{% block project%}
  <h1 class="page-header">Linux Operating System</h1>
  <div class="mainpage">
  	<p> This is a class I took last semester. This course takes my understanding of linux operating system to a new level.
        There are 9 C programming assignments which interacts with linux system. Each of them represents different topics.</p>
    <p> There nine main topics:</p>
    <ul>
      <li>Unix File System</li>
      <li>Unix Process</li>
      <li>Kernel Signals</li>
      <li>Virtual Memory</li>
      <li>Interprocess Communication(IPC)</li>
      <li>Synchronization among Concurrent tasks</li>
      <li>Kernel Task Switch</li>
      <li>Kernel Schedule</li>
      <li>Kernel Memory Management System</li>
    </ul>
    <p>You can check out these C programming assignments for these topics on my github repository. <a href="https://github.com/Shuyang1996/LinuxOperatingSystem" target="_blank"><span class="glyphicon glyphicon-inbox"></span> Github </a></p>

    <p>I will keep updating more details about each assignment.<p>
    
  </div>
{% endblock%}