{% extends 'projectDLD.html.twig' %}

{% block navbar%}
    <ul class="nav nav-sidebar">
        <li><a href="/project">Projects Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="/project/projectDLD">Digital Logic design</a></li>
        <li><a href="#">Computer Architecture</a></li>
        <li><a href="#">Linux Operating System</a></li>
        <li class="active"><a href="/project/projectWebsite">Personal Website</a></li>
      </ul>
{% endblock%}

{% block project%}
  <h1 class="page-header">Personal Website</h1>
{% endblock%}