{% extends 'projectDLD.html.twig' %}

{% block navbar%}
    <ul class="nav nav-sidebar">
      <li><a href="/project">Projects Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="/project/projectWebsite">Personal Website</a></li>
      <li class="active"><a href="/project/project2015Internship">2015 Summer Internship</a></li>
      <li><a href="/project/projectLinux">Linux Operating System</a></li>
      <li><a href="/project/projectBookstore">Online Book Store</a></li>
      <li><a>Digital Logic design</a></li>
      <li><a>Competitive Programming</a></li>
      <li><a>Data Structure & Algorithm</a></li>
      </ul>
{% endblock%}

{% block project%}
      <h1 class="page-header">2015 Summer Internship</h1>
      <p>Last summer, I worked at Splash as a Junior developer. Splash is a marketing software where you can create your own beautiful, mobile-responsive event site. I built an internal web application which helps product manager to manage client assets like photo, vedio, and other digital data. After I left, Splash engineers pushed my code to production and deployed the application.</p>

      <p>The developing environment is cakePHP a php framework. It is a MVC convention which helps engineers develop applications in the most efficient way. I used to develop app with flat php, but learned this awesome framework last summer and really appreciated the efficiency of cakePHP.</p>

      <p>Javascript is also an important part of this web application. This application loads data into part of a page without having to refresh the entire page. Managers do not have to wait for an entire page to load when they are uploading photos, vedios or updating clients' information.</p>

      <p>I implemented tons of AJAX requests and API connections with MySQL database. After server receives AJAX request, my backend functions will execute this request and return data in JSON format. Then my jQuery functions will decode JSON data into a specific format and display them on web page. The whole process is like an assemble line. Pretty Cool ha! Here is a snapshot of one of my AJAX requests.</p>

      <img src="../ajaxdemo.png" width="600" height="300" style="margin-left:150px;">

     <!--  <p>The other thing I learned from this internship is how to write maintainable code. When I wrote over 2000 lines of jQuery code, I noticed that it was hard to keep track of them. I learned how to manage my code from mentor. Modularity is important. </p> -->

      <p>Also, I gained lots of hands-on front end styling experience. To be honest, front end styling is a little annoying at the begining. Logic of CSS is very simple. But when you actually started using it, you will notice that there are tons of details you need to remember. But after a month of practicing, I started enjoying working with CSS and implementing these design details. I was very excited to see that my web page is getting closer and closer to the graphic design. Well, my mentor told me,<span style="text-transform: capitalize; font-weight:bold;"> Details are the product!</span></p>

      <p>I did not upload source code I wrote for this internship. But if you are interested in more details and discuss the technology I used, you are more than welcome to email me and set up a conversation! (william-ysy@outlook.com)</p>






{% endblock%}
