{% extends 'projectDLD.html.twig' %}

{% block navbar%}
    <ul class="nav nav-sidebar">
      <li><a href="/project">Projects Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="/project/projectWebsite">Personal Website</a></li>
      <li><a href="/project/project2015Internship">2015 Summer Internship</a></li>
      <li><a href="/project/projectLinux">Linux Operating System</a></li>
      <li class="active"><a href="/project/projectBookstore">Online Book Store</a></li>
      <li><a>Digital Logic design</a></li>
      <li><a>Competitive Programming</a></li>
      <li><a>Data Structure & Algorithm</a></li>
      </ul>
{% endblock%}

{% block project%}
	<h1 class="page-header">Cooper BookStore</h1>
	<div class="mainpage" >
		<p>This is a project I built a year ago with flat php. The purpose of this bookstore is to practice php syntax and sheme of MySQL databaes. This project runs locally on my computer hosted by MAMP. MAMP is a convenient package that includes web server, MySQL, phpMyAdmin, and other components used together to run dynamic websites on Mac computer.  </p>

		<p>The basic functions of this bookstore are you can see books for different departments and subjects. Here are some snapshots.</p> 
		<div class="demo" style="background-color:#f5f5f5;">
		<img src="../demo1.png" width="425" height="225" style="margin-top:50px; margin-left:50px;">
		
		<img src="../demo2.png" width="425" height="225" style="margin-left:50px; margin-top:50px ">
		<p style="margin-top:50px;"></p>
		<img src="../demo3.png" width="425" height="200" style="margin-left:50px;">
		<img src="../demo4.png" width="425" height="200" style="margin-left: 50px;">
		<p style="margin-top:50px;"></p>
		<img src="../demo5.png" width="425" height="200" style=" margin-left:50px;">
		<img src="../demo6.png" width="425" height="200" style=" margin-left:50px;">
		<p>The relationship between books and categories</p>
		<img src="../demo7.png" width="250" height="200" style="margin-top:25px; margin-left:50px;">
		<img src="../demo8.png" width="550" height="200" style="margin-left:50px; margin-top:25px;">

		<p></p>
		<img src="../demo9.png" width="400" height="200" style="margin-left:50px; margin-top:25px;">
		<p></p>
		<img src="../demo10.png" width="550" height="200" style="margin-left: 50px;">
		<p></p>
		<img src="../demo11.png" width="550" height="200" style="margin-left: 50px;">
		</div>

	</div>

	
{% endblock%}