{% extends 'projectDLD.html.twig' %}

{% block navbar%}
    <ul class="nav nav-sidebar">
      <li><a href="/project">Projects Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="/project/projectWebsite">Personal Website</a></li>
      <li><a href="/project/project2015Internship">2015 Summer Internship</a></li>
      <li><a href="/project/projectLinux">Linux Operating System</a></li>
      <li><a href="/project/projectBookstore">Online Book Store</a></li>
      <li class="active"><a>Data Structure & Algorithm</a></li>
      <li><a>Digital Logic design</a></li>
      <li><a>Competitive Programming</a></li>
    </ul>
{% endblock%}

{% block project%}
	<h1 class="page-header">Data Structure & Algorithm</h1>
	<p>I am taking DSA this semester, you can check out the programming assignments I wrote so far. I will update data structure introduction later like array, vector, singly list, stack, queue and so forth. Also, couple of sorting algorithm like bubble sort, merge sort, shell sort and so on. I uploaded my code to my github account. <a href="https://github.com/Shuyang1996/Data-Structure-Algorithm/tree/master/DSA%20I" target="_blank"><span class="glyphicon glyphicon-inbox"></span> Github </a></p>
{% endblock%}