{% extends 'projectDLD.html.twig' %}

{% block navbar%}
    <ul class="nav nav-sidebar">
      <li><a href="/project">Projects Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="/project/projectWebsite">Personal Website</a></li>
      <li><a href="/project/project2015Internship">2015 Summer Internship</a></li>
      <li><a href="/project/projectLinux">Linux Operating System</a></li>
      <li class="active"><a href="/project/projectBookstore">Online Book Store</a></li>
      <li><a href="/project/projectDLD">Digital Logic design</a></li>
      <li><a>Competitive Programming</a></li>
      <li><a>Data Structure & Algorithm</a></li>
      </ul>
{% endblock%}

{% block project%}
	<h1 class="page-header">Cooper BookStore<h1>
{% endblock%}