
html {
    background: url(http://thealexzone.com/img/panorama.gif) no-repeat 50% 50% fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
  }